src/main/app/distribution-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" 
    xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

<ws:consumer-config name="Web_Service_Consumer" wsdlLocation="http://localhost:8088/mockDocumentDistributionSOAP?wsdl" service="DocumentDistribution" port="DocumentDistributionSOAP" serviceAddress="http://localhost:8088/mockDocumentDistributionSOAP" doc:name="Web Service Consumer"/>

    <flow name="SOAP_WS_Flow" >
		<set-payload value="#[distributionRequest]" doc:name="Set Payload" />
		  <mulexml:xslt-transformer returnClass="java.lang.String" xsl-file="DistributionRequest.xslt" maxIdleTransformers="2" maxActiveTransformers="5" doc:name="XSLT">
	         <mulexml:context-property key="customerId" value="#[customerId]" />
	         <mulexml:context-property key="name" value="#[name]" />
	         <mulexml:context-property key="street_1" value="#[street_1]" />
	         <mulexml:context-property key="street_2" value="#[street_2]" />
	         <mulexml:context-property key="zipcode" value="#[zipcode]" />
	         <mulexml:context-property key="city" value="#[city]" />
	         <mulexml:context-property key="country" value="#[country]" />
	         <mulexml:context-property key="policynumber" value="#[policynumber]" />
	         <mulexml:context-property key="policytype" value="#[policytype]" />
	         <mulexml:context-property key="price" value="#[price]" />
	      </mulexml:xslt-transformer>
        <ws:consumer config-ref="Web_Service_Consumer" operation="sendDocument" doc:name="Send Document"/>
		<transformer ref="xmltoJson" />	 
		<transformer ref="jsontoXml" />	
    </flow>
    
</mule>